<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
    <title>Outdoor Controller</title>
</head>
<body class="container">
    <div class="controller">
        <h1 class="controller-header">Outdoor Controller</h1>
        <div class="controller-lights">
            <button class="controller-buttons" type="button" id="lights">Lights</button>
        </div>
        <div class="controller-pump">
            <button class="controller-buttons" type="button" id="pump">Pump</button>
        </div>
        <div class="controller-misc">
            <button class="controller-buttons" type="button" id="misc">Misc</button>
        </div>
    </div>
</body>
</html>